:root {

    --color: #ffffff;

    --background--color: #707070;
    --border: 1px solid #707070;

    --font--size--sub--title: 20px;
    --font--size--title: 40px;
    --font--button: 14px;
    --font--size--paragraph: 12px;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif ;
}

body {
    height: 100vh;
}

header, footer {

    top: 0px;
    left: 0px;
    height: 399px;

    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color);
}

.gradiente-superior{
    width: 100%;
    background: linear-gradient(-176deg, var(--background--color) 20%, var(--background--color) 49.8%, #ffffff 50%, #fff 100%);
}

.gradiente-inferior{
    width: 100%;
    
    background: linear-gradient(-176deg, #ffffff 20%, #fff 49.8%, var(--background--color) 50%, var(--background--color) 100%);
}

header sub-title {
    font-weight: normal;
}

header h1{
    font-weight: bold;
}

/*main{

}*/
